<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sign in</title>
    <!--/*/ <th:block th:insert="~{fragments/header :: header}"/> /*/-->
</head>
<body>
<div class="container">
    <form class="form-signin w-50" method="post" th:action="@{ /login-form }">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div th:if="${param.keySet().contains('error')}" class="alert alert-danger">Wrong UUID or password</div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="UUID" autofocus>
            <label for="floatingUsername">UUID</label>
        </div>
        </p>
        <p>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        </p>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <a class="btn btn-link w-100 py-2" th:href="@{ /registration }">Sign up</a>
        <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
    </form>
</div>

</body>
<!--/*/ <th:block th:insert="~{fragments/footer :: footer}"/> /*/-->
</html>